# --- INFRASTRUCTURE ---
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=ghost_user
POSTGRES_PASSWORD=ghost_password
POSTGRES_DB=ghost_db
POSTGRES_URL=postgres://ghost_user:ghost_password@postgres:5432/ghost_db

REDIS_URL=redis://redis:6379

LOG_LEVEL=info

# --- DATA SOURCES ---
# PumpPortal (No key needed, public WS)
PUMP_PORTAL_WS=wss://pumpportal.fun/api/data

# --- API KEY POOLS (Comma Separated) ---
# Format: key1,key2,key3
# used for: "Top 10 Holder" checks & Metadata
SHYFT_API_KEYS=KOOosLOGjukkBVhF,5gqDnlbdYLZ0tPCq,Pf1lurXt8D_4h7Db,7supwo3x7-TWFrjb,0_RhHhFI-LyNxcN-,1VPTz3X5pnkhklza,9r-4ZLIXnaY7UK4Y,YGZrldgJTkyVVjTo

# used for: General RPC calls (Backups)
ALCHEMY_API_KEYS=https://solana-mainnet.g.alchemy.com/v2/x2eVjlY4cD86iO0x8uuyP,https://solana-mainnet.g.alchemy.com/v2/i5eTTmnxZXiqh_uBXjoHe,https://solana-mainnet.g.alchemy.com/v2/iiND915oSUYWBDq78kX4n,https://solana-mainnet.g.alchemy.com/v2/owo_vAZpEOjzeoGEU_N7d,https://solana-mainnet.g.alchemy.com/v2/peuWMlD3m8fQpJurBqqvu

# used for: SNIPER WebSockets (Price & CVD)
HELIUS_API_KEYS=a1020167-d917-44e7-b1a6-8240147efe5f,b6c074f5-5125-45f9-a91d-bc15500374f4,a49414b5-3213-4985-9636-5a019e061e8e,f29ae625-f7c9-468a-996d-9ad37287a38c,bf447ec6-1158-420a-8729-a854bff9dc13,1a22cd67-c738-4d0e-a9ff-54758dc4d387,2eb7becc-579f-408d-85e5-e19b0f9426d2,d15cc1f6-d3a9-4ab2-9a4d-744e2815a2ae

# used for: Safety Score (Optional, if they require auth)
RUGCHECK_API_KEYS=https://api.rugcheck.xyz/v1/tokens/{id}/report

# --- SIMULATION SETTINGS ---
# Latency in milliseconds to simulate network lag
SIMULATED_LATENCY_MS=200
# Jito Tip simulation (SOL)
SIMULATED_BRIBE_SOL=0.005